.layout {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.background {
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: var(--theme-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sidebar {
    z-index: 10;
    position: fixed;
    height: 100vh;
    background-color: var(--theme-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.2s ease;
    width: 60px;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-top, .sidebar-bottom {
    display: flex;
    flex-direction: column;
}

.sidebar-nav-item {
    display: flex;
    padding: 0.5em;
    height: 60px;
    background-color: var(--theme-primary);
    align-items: center; /* Vertical align */
    white-space: nowrap;
    cursor: pointer;
}

.themed {
    filter: var(--icon-filter);
}

.sidebar-icon {
    display: flex;
    width: calc(60px - 1em);
    margin-right: 10px;
}

.sidebar-name {
    font-size: 24px;
    color: var(--text-primary);
    overflow: hidden;
}

.main-content {
    margin-left: 60px;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#stars {
    z-index: 0;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    position: fixed;
    background-image: url('/icons/small-star.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 50px 50px;
    transform: rotate(45deg);
    filter: invert(100%) brightness(0.2);
}

.fill-page {
    flex: 1;
}

footer {
    bottom: 0;
    position: sticky;
    width: 100%;
    line-height: 2em;
    text-align: center;
    background-color: var(--theme-primary);
    color: var(--text-secondary);
}