#gradient {
    z-index: 1;
    width: 100%;
    flex: 2;
    background: linear-gradient(transparent, transparent, var(--theme-tertiary));
}

#header {
    padding: 20px;

    h1 {
        padding-top: 10px;
        font-size: 3em;
    }

    div {
        display: flex;
        align-items: center;
    }
}

#page {
    z-index: 1;
    width: 100%;
    flex: 8;
    background-color: var(--theme-tertiary);
    display: flex;
}
