#back-button {
    background-color: var(--theme-secondary);
    border-radius: 20px;
    padding: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    
    img {
        filter: var(--icon-filter);
        width: 100%;
        height: 100%;
    }
}