#account-details {
    max-width: 1200px;
    width: 100%;
}

.account-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 40px;
}

.account-entry input {
    height: 100%;
    width: 50%;
    font-size: 1em;
    background-color: var(--theme-primary);
    border: 0;
    border-bottom: 1px solid var(--theme-secondary);
    border-radius: 10px;
}