#connect-form {
  height: fit-content;
  width: 500px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  #page-link, #title, #place-id, #experience-id {
    height: 40px;
    width: calc(100% - 25px);
    margin: 10px;
    font-size: 1em;
    background-color: var(--theme-primary);
    border: 0;
    border-bottom: 1px solid var(--theme-secondary);
  }

  h2 {
    padding-left: 15px;
  }

  input:focus {
    outline: none;
  }

  ::placeholder {
    color: var(--text-secondary);
    font-family: 'quicksand';
  }
}

#preview-box {
  height: fit-content;
  width: 500px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    object-fit: contain;
  }
}

#thumbnail-box {
  width: 100%;
  aspect-ratio: 16/9;

  img {
    height: 100%;
    object-fit: contain;
  }
}

#title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#connect-button {
  margin: 10px;
  width: fit-content;
}

/* * {
  border: 1px solid rebeccapurple;
} */