#login-box {
    z-index: 1;
    width: 400px;
    height: 480px;
    background-color: var(--theme-secondary);
    border-radius: 16px;
    box-shadow: 5px 5px 15px var(--theme-secondary);
}

@media (max-width: 750px) {
    #login-box {
        width: 80%;
    }
}

#form-box {
    padding: 30px 40px;

    p {
        color: var(--text-primary);;
    }
}

#form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 25px;
    
    h1 {
        font-size: 3.2em;
        line-height: 0;
        color: var(--text-primary);;
    }

    img {
        height: 3.2em;
        max-height: 3.2em;
        width: auto;
    }
}

#form-box {
    display: flex;
    flex-direction: column;
}

#error-box {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.107);
    color: var(--text-primary);
    border-radius: 8px;
    margin: 10px 0 10px 0;
    padding: 10px;
    overflow: hidden;
}

#login-form {
    display: flex;
    flex-direction: column;

    #username, #password {
        height: 40px;
        margin: 15px 0px;
        font-size: 1em;
        background-color: var(--theme-secondary);
        border: 0;
        border-bottom: 1px solid var(--theme-tertiary);
    }

    input:focus {
        outline: none;
    }

    ::placeholder {
        color: var(--text-secondary);
        font-family: 'quicksand';
    }
    
    button {
        margin: 10px 0px 10px;
    }
}