#register-box {
    z-index: 1;
    width: 400px;
    height: 620px;
    background-color: var(--theme-primary);
    border-radius: 16px;
    box-shadow: 5px 5px 15px var(--theme-primary);
}

#form-box {
    padding: 30px 40px;

    p {
        color: var(--text-primary);;
    }
}

#form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 25px;

    h1 {
        font-size: 3.2em;
        line-height: 0;
        color: var(--text-primary);;
    }

    img {
        height: 3.2em;
        max-height: 3.2em;
        width: auto;
    }
}

#form-box {
    display: flex;
    flex-direction: column;
}

#register-form {
    display: flex;
    flex-direction: column;

    #username, #password, #email {
        height: 40px;
        margin: 15px 0px;
        font-size: 1em;
        background-color: var(--theme-primary);
        border: 0;
        border-bottom: 1px solid var(--theme-secondary);
    }

    input:focus {
        outline: none;
    }

    ::placeholder {
        color: var(--text-secondary);
        font-family: 'quicksand';
    }
    
    button {
        margin: 10px 0px 10px;
    }
}

#password-requirements {
    color: var(--text-secondary);
    ul {
        padding-inline-start: 25px;
    }
}

.req-pass {
    color: green;
}

.req-fail {
    color: red;
}