#settings-form {
    max-width: 1200px;
    width: 100%;
}

.setting-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#save-settings-button {
    width: 200px;
}