#settings-form {
    width: 100%;
}

.setting-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

#save-settings-button {
    width: 200px;
}